.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background: #fff;
    border-radius: 25px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
    &.is-active{
        display: block;
        .modal-background{
            opacity: 1;
            transition: opacity 0.2s ease-out;
        }
        .modal-card{
            opacity: 1;
            transition: opacity 0.2s ease-out;
        }
    }

}