*{
    white-space: pre-line;
    
}

.section-content{
    line-height: 3rem;
}

span{
    line-height: 1rem;
}

.container-img{
    

    .duplicate, .is-bottom-right{
        display: flex;
        /* &::before {
            content: '';
            position: absolute;
            top: -30px;
            left: -30px;
            width: 100%;
            height: 100%;
            background: #B0D4D6;
            z-index: -1;
        } */
        
        &::before {
            content: '';
            position: absolute;
            transform: translate(10%, 10%);
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #B0D4D6;
        }
        
    }

    img {
        height: 25rem;
        max-width: 40rem;
        max-height: 30rem;
        background-size: cover;
    }
}