input {
    outline: none;
    &:focus {
        outline: none;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: #1890ff;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
        
        &.focus {
            transform: scaleX(1);
        }
    }
}